[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is a public repository to test git commands
[access "refs/*"]
	owner = group user/Prakash-Amminabhavi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Prakash-Amminabhavi
	label-Verified = -1..+1 group user/Prakash-Amminabhavi
	push = group user/Prakash-Amminabhavi
	read = group user/Prakash-Amminabhavi
	rebase = group user/Prakash-Amminabhavi
	removeReviewer = group user/Prakash-Amminabhavi
	submit = group user/Prakash-Amminabhavi
[access "refs/heads/*"]
	create = group user/Prakash-Amminabhavi
	push = +force group user/Prakash-Amminabhavi
	pushMerge = group user/Prakash-Amminabhavi
	read = group user/Prakash-Amminabhavi
[access "refs/tags/*"]
	push = group user/Prakash-Amminabhavi
	push = +force group user/Prakash-Amminabhavi
